body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

header {
    background:
        linear-gradient(rgba(0,0,0,.30), rgba(0,0,0,.30)),
        url("images/luke962.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

/* Text */
    color: white;
    padding-top: 60px;
    text-align: center;
    text-shadow: 2px 2px 6px black;
}

nav {
    /* background-color: pgba(0, 0, 0, 0.75); */
    background-color: rgba(20,30,45,.95);
    margin-top: 40px;
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    /* display: inline-block; */
    padding: 15px 0;
    width: 100%;
    border-top: 2px solid #d4af37
    /* text-align: center; */
    /* border-radius: 8px; */
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.project-card {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

.featured-project {
    border: 3px solid gold;
}

.about-card {
    background-color: lightskyblue;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}
/* Header Banner */
.bible-luke {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 6px black;
}
/* Weekly Bible Verse */
.weekly-bible-verse {
     background:
        Linear-gradient(
            rgba(0,0,0,.35),
            rgba(0,0,0,.35)), 
        url("images/hebrews41516.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.weekly-bible-verse {
    font-size: 20px
}

.weekly-bible-verse h1{
    font-size: 42px;
}

.weekly-bible-verse h2{
    font-size: 32px;
}

/* Weekly Bible verse paragraph */
.weekly-bible-verse p {
    font-size: 22px;
    line-height: 1.6;
    max-width: 850px;
    text-shadow: 2px 2px 6px black;
} 

/* Menu(nav) selected page */
.active {
    background-color:#402abe;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.welcome-message {
    max-width: 900px;
    margin: auto;
    font-size: 26px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}